<div class="list-card-content">
    <ul class="list-card-ul">
      <li
        class="list-card-li"
        (mousemove)="getTransformNumber($event)"
        (mouseenter)="startSetPos($event)"
        (mouseleave)="stopSetPos()"
        (click)="linkClick('/work')"
        *ngFor="let data of getDatas()"
      >
        <div class="link-content">
          <div class="img-content" [ngStyle]="{ 'background-image': 'url(' + data.titleImg + ')'}"></div>
          <div class="img-border"></div>
          <div class="info-text-content">
            <div class="title-content">
              <div class="title">{{data.title}}</div>
            </div>
            <div class="info-content">
              <div class="text-content small">
                <span class="text">{{data.info.year}}</span>
              </div>
              <div class="text-content">
                <span class="text">{{data.info.type}}</span>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
</div>
