@import "variables";
@import "mixins";

.form-input{
  &.title-up{
    .input-content{
      .placeholder{
        top: -15px;
        padding-left: 0;
        font-size: 12px;
      }
    }
  }
  .input-content{
    width: 100%;
    height: $select-input-pc-h;
    border-bottom: solid 1px #000000;
    position: relative;
    @media screen and (max-width: 768px){
      height: $select-input-mobile-h;
    }
    .input{
      @include select-input-style();
      position: relative;
    }
    .placeholder{
      @include placeholder-style();
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: transparent;
        opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: transparent;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: transparent;
    }
  }
  &:not(.add-lest-text){
    .lest-text{
      display: none;
    }
  }
  &.add-lest-text{
    .input-content{
      position: relative;
    }
    .input{
      padding-right: 38px;

      @media screen and (max-width: 768px){
        padding-right: 30px;
      }
    }
    .lest-text{
      position: absolute;
      padding: 0;
      width: 1em;
      height: 33px;
      right: 7px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
