<div class="radial-char-content">
  <div class="radial-char-info">
    <div class="control-content">
      <div class="title-content">
        <span class="text">{{title}}</span>
      </div>
      <div class="btn-content">
        <app-boolean
          [falseText]="falseText"
          [trueText]="trueText "
          (onCnange) = "toggleContentShow($event)"
        ></app-boolean>
      </div>
    </div>
    <div class="info-contents">
      <div
        class="info-content false-content"
        [ngClass]="{
          'show': !toggleShow
        }"
      >
          <ul class="info-content-ul">
            <li
              class="info-content-li"
              *ngFor="let data of falseDatas; let i = index;"
            >
              <div class="li-info">
                <app-text-bar [data]="data" [small]="i > 4" [fill]="!toggleShow"></app-text-bar>
              </div>
            </li>
          </ul>
      </div>
      <div
        class="info-content true-content"
        [ngClass]="{
          'show': toggleShow
        }"
      >
        <ul class="info-content-ul">
          <li
            class="info-content-li"
            *ngFor="let data of trueDatas; let i = index;"
          >
            <div class="li-info">
              <app-text-bar [data]="data" [small]="i > 4" [fill]="toggleShow"></app-text-bar>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
