<div
  class="footer"
  [ngClass]="{
    'small' : small
  }"
>
  <nav class="nav-list">
    <ul class="nav-ul">
      <li class="nav-li">
        <a href="#" class="link-content">
          <span class="text">GITHUB</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="copyright">
    <div class="text-content small">
      <span class="text">2019 Catino Inc</span>
    </div>
    <div class="text-content">
      <span class="text">POWERED BY LINTINGYU</span>
    </div>
  </div>
</div>
