<app-layout-common [scroll]="true">
  <div class="about-other-layout">
    <div class="one-section">
      <app-i-t-layout-text-svg
        [pageTitle]="'about'"
        [data]="firstSectionData"
        [initShowSvg]="aboutGreenLine"
      >
        <div
          class="fase-block adult"
          [ngClass]="{
            'show-green-line': aboutGreenLine
          }"
        ></div>
      </app-i-t-layout-text-svg>
    </div>
    <div class="one-section skills">
      <app-scroll-effect
        (onScrollShow)="showSkill($event)"
      >
        <app-radial-char
          [title]="'SKILLS'"
          [falseText]="'DESIGN'"
          [trueText]="'CODING'"
          [falseDatas] = "skillDatas.design"
          [trueDatas] = "skillDatas.coding"
          [showInfo] = "skill"
        ></app-radial-char>
      </app-scroll-effect>
    </div>
    <div class="one-section awards">
      <app-scroll-effect (onScrollShow)="showHistoryMap($event)">
        <app-history-map
          [data]="history"
          [svg]="'assets/about/history-line.svg'"
          [title] = "'AWARDS'"
          [text] = "'設計相關的得獎經歷，有興趣看一下吧，想知道作品可以在works裡找找，找不到可以聯絡給我！'"
          [showMapLine]="historyMap"
        >
          <div
            class="img-content"
            [ngStyle]="{'margin-top': -(Math.pow(bookMT * 13, 2)) + '%'}"
          >
            <svg-icon
              src="assets/about/book.svg"
              [svgStyle]="{
                'width.%':100,
                'height.%':100
              }"
            ></svg-icon>
          </div>
        </app-history-map>
      </app-scroll-effect>
    </div>
    <div class="one-section child">
      <app-scroll-effect (onScrollShow)="showChild($event)">
        <app-i-t-layout-text-svg
          [data]="firstSectionData2"
          [svg]="child"
        >
          <div
            class="fase-block child child-1"
            [ngClass]="{
              'show-green-line': childGreenLine
            }"
          ></div>
          <div
            class="fase-block child child-2"
            [ngClass]="{
              'show-green-line': childGreenLine
            }"
          ></div>
        </app-i-t-layout-text-svg>
      </app-scroll-effect>
    </div>
  </div>
</app-layout-common>
