@import "variables";
@import "mixins";

.about-other-layout{
  width: 100%;
  padding: 0 7%;
  padding-left: 7%;
  @include page-layout(1.5, 2);
  // border: solid 1px #888;
  @media screen and (max-width: $screen-size-w-pad-s){
    padding: 0;
  }
  .one-section{
    &.child{
      ::ng-deep{
        app-i-t-layout-text-svg{
          .text-svg-content{
            .img-content{
              padding-left: 15%;
              @media screen and (max-width: $screen-size-w-pad-s){
                padding-left: 0;
              }
            }
          }
        }
      }
    }
    &.skills{
      & + .one-section.awards{
        @media screen and (min-width: $screen-size-w-pc + 1){
          margin-top: 150px;
        }
        @media screen and (max-width: $screen-size-w-pc) and (min-width: $screen-size-w-mobile + 1){
          margin-top: 12%;
        }
      }
      @media screen and (max-width: 870px) and (min-width: $screen-size-w-pad-s){
        ::ng-deep{
          app-radial-char{
            .radial-char-content{
              .radial-char-info{
                .info-content{
                  .info-content-ul{
                    .info-content-li{
                      .li-info{
                        app-text-bar{
                          transform-origin: 50% 50%;
                          transform: scale(0.8);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.awards{
      .img-content{
        width: 30%;
        position: absolute;
        top: 32%;
        transform: rotate(-15deg);
        animation: awardBookAn 5s linear infinite;
        @keyframes awardBookAn {
          0%{
            margin-top: 0px;
          }
          50%{
            margin-top: -20px;
          }
          100%{
            margin-top: 0px;
          }
        }
      }
    }
  }
  .fase-block{
    background-color: $color-cis-green;
    opacity: 0.6;
    position: absolute;
    animation-fill-mode: forwards;
    transition: width 0.5s;
    filter: saturate(3);
    &:hover{
      &:after{
        animation: fase-block-flicker 1s infinite;
      }
    }
    &:after{
      display: block;
      content: '';
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0;
    }
    &.adult{
      width: 0%;
      height: 4%;
      top: 36%;
      left: 30%;
      transform: rotate(3deg);
      &.show-green-line{
        transition-delay: 3s;
        width: 70%;
      }
    }
    &.child{
      width: 0px;
      height: 1.5%;
      transform-origin: 100% 50%;
      animation-name: fase-block-rotate;
      animation-iteration-count: infinite;
      @media screen and (max-width: $screen-size-w-pad-s){
        height: 2%;
      }
      &:after{
        animation: fase-block-flicker 3s infinite;
      }
      &.child-1{
        top: 23%;
        right: 50%;
        @media screen and (max-width: $screen-size-w-pad-s){
          right: 65%;
        }
        animation-duration: 10s;
        &.show-green-line{
          transition-delay: 3s;
          width: 60%;
        }
      }
      &.child-2{
        top: 24.2%;
        right: 44.5%;
        animation-duration: 13s;
        @media screen and (max-width: $screen-size-w-pad-s){
          right: 59%;
        }
        &.show-green-line{
          transition-delay: 6s;
          width: 40%;
        }
      }
    }
    @keyframes fase-block-flicker{
      0% {
        opacity:0.1;
      }

      2% {
        opacity:1;
      }
      8% {
        opacity:0.1;
      }
      9% {
        opacity:1;
      }
      12% {
        opacity:0.1;
      }
      20% {
        opacity:1;
      }
      25% {
        opacity:0.3;
      }
      30% {
        opacity:1;
      }
      70% {
        opacity:0.7;
      }
      72% {
        opacity:0.2;
      }
      77% {
        opacity:.9;
      }
      100% {
        opacity:.9;
      }
    }
    @keyframes fase-block-rotate{
      0%{
        transform: rotate(-30deg);
      }
      50%{
        transform: rotate(20deg);
      }
      100%{
        transform: rotate(-30deg);
      }
    }
  }
}
