<app-layout-common>
  <div class="about-other-layout">
    <div class="one-section">
      <app-i-t-layout-text-svg
        [pageTitle]="'about'"
        [data]="firstSectionData"
        [initShowSvg]="initShowGreenLine"
      >
        <div
          class="fase-block adult"
          [ngClass]="{
            'show-green-line': initShowGreenLine
          }"
        ></div>
      </app-i-t-layout-text-svg>
    </div>
    <div class="one-section skills">
      <app-radial-char
        [title]="'SKILLS'"
        [falseText]="'DESIGN'"
        [trueText]="'CODING'"
        [falseDatas] = "skillDatas.design"
        [trueDatas] = "skillDatas.coding"
      ></app-radial-char>
    </div>
    <div class="one-section child">
      <app-i-t-layout-text-svg
        [data]="firstSectionData2"
      >
        <div
          class="fase-block child child-1"
          [ngClass]="{
            'show-green-line': initShowGreenLine
          }"
        ></div>
        <div
          class="fase-block child child-2"
          [ngClass]="{
            'show-green-line': initShowGreenLine
          }"
        ></div>
      </app-i-t-layout-text-svg>
    </div>
  </div>
</app-layout-common>
