<div
  class="text-svg-content"
  [ngClass]="{
    'type-2': data.layoutType === 1
  }"
>
  <div
    class="img-content"
    [ngClass]="{
      'show-svg': svg
    }"
    [ngStyle]="{
      'height': svgSize.height + 'px',
      'max-height': '80vh'
    }"
  >
    <svg-icon
      [src]="data.imgs[0]"
      [svgStyle]="{
        'width.px': svgSize.width,
        'height.px': svgSize.height,
        'stroke-width.px': 1,
        'opacity': 0.5,
        'max-height.vh': 80
      }"
    ></svg-icon>
    <ng-content></ng-content>
  </div>

  <div class="text-content">
    <div class="page-title" *ngIf="pageTitle !== ''">
      <app-title-laval-first [text]="pageTitle"></app-title-laval-first>
    </div>
    <div class="title" *ngIf="data.title">
      <span class="text">{{data.title}}</span>
    </div>
    <div class="info">
      <span class="text" *ngFor="let text of getTextArray(data.text)" [innerHTML]="text"></span>
    </div>
  </div>
</div>
