<div class="message-content">
  <div #message class="message">
    <div class="form-content">
      <app-form>
        <app-form-row>
          <app-form-col>
            <app-input [type]="'name'" [placeholder]="'name'"></app-input>
          </app-form-col>
        </app-form-row>
        <app-form-row>
          <app-form-col>
            <app-input [type]="'email'" [placeholder]="'E-mail'"></app-input>
          </app-form-col>
        </app-form-row>
        <app-form-row>
          <app-form-col>
            <app-textarea [defaultText]="defaultText" [placeholder]="'Message'"></app-textarea>
          </app-form-col>
        </app-form-row>
      </app-form>
    </div>
    <div class="btn-content">
      <app-button-content>
        <app-button [text]="'SUBMIT'" (onClick)="send()"></app-button>
      </app-button-content>
    </div>
  </div>
  <div
    class="thank-contant"
    [ngClass]="{
      'show': sendAnStepNum >= 1
    }"
  >
    <div class="text-content">
      <span class="text">Thank you</span>
    </div>
    <div class="text-content small">
      <span class="text">for your message!</span>
    </div>
  </div>
</div>



