@import "variables";
@import "mixins";

.layout-work{
  .first-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(#f24, 0.5);
    position: fixed;
    top: 0;
    .info-content{
      display: flex;
      align-content: space-between;
      flex-wrap: wrap;
      width: 50%;
      height: 100%;
      padding-top: calc(#{$top-gap-blue} + 15vh);
      padding-bottom: $header-nav-bottom-gap-blue;
      @media screen and (max-width: $screen-size-w-pc) {
        padding-top: calc(#{$top-gap-pc} + 15vh);
        padding-bottom: $header-nav-bottom-gap-pc;
      }
      @media screen and (max-width: $screen-size-w-pad-b) {
        padding-top: $top-gap-pc + 50px;
        width: 60%;
        margin-left: 5%;
      }
      @media screen and (max-width: $screen-size-w-pad-s) {
        padding-top: $top-gap-mobile + 50;
        padding-bottom: $top-gap-mobile;
        width: calc(100% - 120px);
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        ::ng-deep{
          app-title-laval-first{
            .title-content{
              .text-content{
                font-size: 20px;
              }
            }
          }
        }
      }
      @media screen and (max-width: $screen-size-w-mobile-s){
        padding-top: $top-gap-mobile + 20;
        padding-bottom: $top-gap-mobile - 20px;
        width: calc(100% - 80px);
      }
      .title-content{
        width: 100%;
      }
      .list-content{
        width: 100%;
        display: flex;
        align-items: flex-end;
        height: 200px;
      }
    }
    .arrow{
      position: absolute;
      left: 50%;
      bottom: 5vh;
      transform: translateX(-50%);
      width: 3px;
      height: 30px;
      border-radius: 2px;
      background-color: $color-cis-green;
      animation: work-arrow-bounce 3s infinite;
      @include bounce('work-arrow-bounce', -10px);
      @media screen and (max-width: $screen-size-w-pad-s) {
        width: 2px;
        height: 20px;
      }
      &:before, &:after{
        display: block;
        content: '';
        width: 100%;
        height: 40%;
        border-radius: 2px;
        background-color: $color-cis-green;
        position: absolute;
        bottom: 0;
        transform-origin: 50% calc(100% - 1px);
      }
      &:before{
        transform: rotate(45deg);
      }
      &:after{
        transform: rotate(-45deg);
      }
    }
  }
  .other-section{
    margin-top: 100vh;
    height: 1000px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 -20px 30px -25px rgba(black, 0.5);
  }
}
