<div
  class="layout-work"
  [ngClass]="{
    'next': goToPage === 'next',
    'prev': goToPage === 'prev',
    'show': showFirstInfo
  }"
>
  <section
    class="first-section"
    [ngStyle]="{
      'height': windowHeight + 'px'
    }"
  >
    <div
      class="background-img"
      [ngStyle]="{ 'background-image': 'url(' + thisData.titleImg + ')'}"
    ></div>
    <div class="info-content">
      <div class="title-content">
        <app-title-laval-first
          [text]="thisData.title"
          [textAlign]="0"
        ></app-title-laval-first>
      </div>
      <div class="list-content">
        <app-list-text [data]="thisData.info"></app-list-text>
      </div>
    </div>
    <div class="arrow"></div>
  </section>
  <div class="other-section">
    <ng-content></ng-content>
  </div>
  <div class="next-page-content">
    <ng-container *ngIf="prevData !== null">
      <div
        class="btn-content prev"
        [ngClass]="{
          'mobile': mobile
        }"
      >
        <div class="img" [ngStyle]="{'background-image':'url(' + prevData.titleImg + ')'}"></div>
        <div
          class="link-content"
          (click)="linkClick('prev', pathData.work, {page: prevData.linkPath})"
        >
          <div class="arrow"></div>
          <div class="text-content">
            <span class="text">PREV</span>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="nextData !== null">
      <div
        class="btn-content next"
        [ngClass]="{
          'mobile': mobile
        }"
      >
        <div class="img" [ngStyle]="{'background-image':'url(' + nextData.titleImg + ')'}"></div>
        <div
          class="link-content"
          (click)="linkClick('next', pathData.work, {page: nextData.linkPath})"
        >
          <div class="arrow"></div>
          <div class="text-content">
            <span class="text">NEXT</span>
          </div>
        </div>
      </div>
    </ng-container>


  </div>
  <!-- <div class="prev-next-img-content"  *ngIf="showNextAndPrevImg">
    <ng-container *ngIf="prevData !== null">
      <div
        class="img-content prev"
        [ngStyle]="{
          'height': windowHeight + 'px'
        }"
      >
        <div class="background-img" [ngStyle]="{'background-image':'url(' + prevData.titleImg + ')'}"></div>
      </div>
    </ng-container>
    <ng-container *ngIf="nextData !== null">
      <div class="img-content next"
        [ngStyle]="{
          'height': windowHeight + 'px'
        }"
      >
        <div class="background-img" [ngStyle]="{'background-image':'url(' + nextData.titleImg + ')'}"></div>
      </div>
    </ng-container>
  </div> -->
</div>
