<div class="layout-work">
  <section class="first-section">
    <div
      class="background-img"
      [ngStyle]="{ 'background-image': 'url(' + titleImg + ')'}"
    ></div>
    <div class="info-content">
      <div class="title-content">
        <app-title-laval-first
          [text]="title"
          [textAlign]="titleTextAlign"
        ></app-title-laval-first>
      </div>
      <div class="list-content">
        <app-list-text [data]="listData"></app-list-text>
      </div>
    </div>
    <div class="arrow"></div>
  </section>
  <div class="other-section">
    <ng-content></ng-content>
  </div>
  <div class="next-page-content">
    <ng-container *ngIf="prevData !== null">
      <div class="btn-content prev">
        <div class="img" [ngStyle]="{'background-image':'url(' + prevData.titleImg + ')'}"></div>
        <div class="link-content" (click)="linkClick('work', prevData.linkPath)">
          <div class="arrow"></div>
          <div class="text-content">
            <span class="text">PREV</span>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="nextData !== null">
      <div class="btn-content next">
        <div class="img" [ngStyle]="{'background-image':'url(' + nextData.titleImg + ')'}"></div>
        <div class="link-content" (click)="linkClick('work', nextData.linkPath)">
          <div class="arrow"></div>
          <div class="text-content">
            <span class="text">NEXT</span>
          </div>
        </div>
      </div>
    </ng-container>


  </div>
</div>
