<div class="list-content">
  <ul class="list-ul">
    <li class="list-li" *ngFor="let key of Object.keys(data)">
      <div class="title-content">
        <span class="text">{{key}}</span>
      </div>
      <div class="line"></div>


      <div class="text-content">
        <ng-container *ngIf="key !== 'link'; then text else link"></ng-container>
        <ng-template #text>
          <span class="text">{{data[key]}}</span>
        </ng-template>
        <ng-template #link>
          <a [href]="data[key][1]" class="link-content"  target="_blank">
            <span class="text">{{data[key][0]}}</span>
          </a>
        </ng-template>
      </div>

    </li>
  </ul>
</div>
