<div
  class="select-pint-list-content"
  [ngStyle]="{
    'width' : svgSizeWidth  + 'px',
    'height': svgSizeHeight + 'px'
  }"
>
  <svg
    class="ballSvg"
    [attr.viexbox]="'0 0 ' + svgSizeWidth + ' ' + svgSizeHeight"
    [attr.width]="svgSizeWidth"
    [attr.height]="svgSizeHeight"
  >
    <polyline class="line"  stroke-linecap="round" stroke-linejoin="round" [attr.points]="points"></polyline>
    <polyline class="arrow" stroke-linecap="round" stroke-linejoin="round" [attr.points]="arrow" ></polyline>
  </svg>
  <div class="dots">
    <ul class="dot-ul">
      <li
        class="dot-li"
        *ngFor="let li of forNgForArray; let i = index;"
        [ngClass]="{
          'active': i === active
        }"
        (click)="setActive(i)"
      ></li>
    </ul>
  </div>
</div>
