@import "variables";
@import "mixins";

.form-textarea{
  &.title-up{
    .textarea-content{
      .placeholder{
        top: -15px;
        padding-left: 0;
        font-size: 12px;
      }
    }
  }
  .textarea-content{
    border-bottom: solid 1px #000000;
    position: relative;
    .textarea{
      @include select-input-style();
      width: 100%;
      height: $select-input-pc-h * 3;
      padding: 10px 7px;
      line-height: 40px;
      resize : none;
      background-color: transparent;
      background: linear-gradient(transparent calc(100% - 1px), #ddd 0);
      background-size: calc(100% - 10px) 40px;
      background-repeat-x: no-repeat;
      background-position: 50% 0;
      position: relative;
      overflow: hidden;
    }
    .placeholder{
      @include placeholder-style();
    }
  }
}
