@import "variables";
.header{
  width: 100%;
  height: 100%;
  position: relative;
  transition: margin 0.3s;
  //logo長寬比
  $logo-proportion: 100 / 216;
  &:before{
    display: block;
    width: 100%;
    height: 80px;
    background: -moz-linear-gradient(top,     rgba($color-bg-white,1) 0%, rgba($color-bg-white,0) 95%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba($color-bg-white,1) 0%, rgba($color-bg-white,0) 95%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,    rgba($color-bg-white,1) 0%, rgba($color-bg-white,0) 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    user-select: none;
    opacity: 0;
    transition: 0.3s;
    @media screen and (max-width: $screen-size-w-pad-s){
      content: '';
      @media screen and (max-height: $screen-size-h-mini){
        height: 60px;
      }
    }
  }
  @media screen and (max-width: $screen-size-w-pad-s){
    &.scroll{
      margin-top: -10px;
      &:before{
        opacity: 1;
      }
      .logo{
        width: 45px;
        height: 45px * $logo-proportion;
      }
      .nav-mobile-btn{
        bottom: 10px;
        height: 15px;
      }
    }
  }

  .logo{
    width: 100px;
    height: 100px * $logo-proportion;
    position: absolute;
    left: 50%;
    top: $top-gap-blue;
    transform-origin: 0 50%;
    transform: translateX(-50%);
    z-index: $z-index-2;
    transition: 0.3s;

    @media screen and (max-width: $screen-size-w-pc){
      width: 70px;
      height: 70px * $logo-proportion;
      top: $top-gap-pc;
    }
    @media screen and (max-width: $screen-size-w-pad-s){
      width: 60px;
      height: 60px * $logo-proportion;
      top: 20px;
    }
    @media screen and (min-width: $screen-size-w-pad-s + 1) and (max-height: $screen-size-h-small){
      top: $header-footer-h-to-small-gap;
    }
    &.small{
      @media screen and (min-width: $screen-size-w-pad-s + 1){
        transform: rotate(90deg) translateY(-10%) translateX(-7%);
      }
    }
    &.open, &:hover{
      .link-content{
        .svg-contnet{
          .svg{
            .logo-i{
              transform: translateX(0);
              .logo-i-path{
                @media screen and (min-width: $screen-size-w-pad-s + 1){
                  transition-delay: 0.2s;
                }
                transform: scaleY(1);
              }
              .logo-i-p{
                @media screen and (min-width: $screen-size-w-pad-s + 1){
                  transition-delay: 0.3s;
                }
                transform: scaleY(1) translateY(0);
              }
            }
            .logo-n{
              transform: translateX(0);
              .logo-n-i{
                @media screen and (min-width: $screen-size-w-pad-s + 1){
                  transition-delay: 0.2s;
                }
                transform: scaleY(1);
              }
            }

          }
        }
      }
    }
    &.logo-white{
      .link-content{
        .svg-contnet{
          opacity: 0.5;
          .svg{
            .logo-l,
            .logo-i-path, .logo-i-p,
            .logo-n-path, .logo-n-i{
              fill: $color-cis-white;
            }
          }
        }
      }
    }
    .link-content{
      display: block;
      height: 100%;
      .svg-contnet{
        width: 100%;
        height: 100%;
        transition: 0.3s;
        .svg{
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          .logo-l,
          .logo-i, .logo-i-path, .logo-i-p,
          .logo-n, .logo-n-path, .logo-n-i{
            fill: $color-cis-black;
            transition: 0.3s;
          }
          .logo-l{
          }
          .logo-i{
            transform: scaleY(0) translateX(-50%);
            .logo-i-path{
              transform-origin: 50% 100%;
              transform: scaleY(0);
            }
            .logo-i-p{
              transform-origin: 50% 100%;
              transform: scaleY(0) translateY(40%);
            }
          }

          .logo-n{
            transform: translateX(-63%);
            .logo-n-i{
              transform-origin: 50% 100%;
              transform: scaleY(0);
            }
          }
        }
      }
    }
  }
  // 手機用
  .nav-content{
    &.mobile{
      .nav{
        .nav-ul{
          .nav-li{
            .link-content{
              &, &:hover, &.active{
                &:before, &:after{
                  transition: 0s;
                }
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: $screen-size-w-pad-s){
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: $color-cis-grey-8;

      display: none;
      opacity: 0;
      transition: opacity 0.5s;
      &.show{
        display: block;
      }
      &.show-list{
        display: block;
        opacity: 1;
        $t-delay: 0.15s;
        .nav{
          .nav-li{
            transform: translateY(0px);
            opacity: 1;
            &:nth-child(1){
              transition-delay: $t-delay;
            }
            &:nth-child(2){
              transition-delay: $t-delay + 0.15;
            }
            &:nth-child(3){
              transition-delay: $t-delay + 0.3;
            }
          }
        }
        .footer{
          transform: translateY(0px);
          opacity: 1;
          transition-delay: $t-delay + 0.45;
        }
      }
    }
    .nav{
      @media screen and (max-width: $screen-size-w-pad-s){
        width: 170px;
        bottom: auto;
        top: 120px;
        @media screen and (max-height: $screen-size-h-small){
          top: 80px;
        }
        @media screen and (max-height: $screen-size-h-mini){
          width: 130px;
          top: 120px;
          left: 30px;
          transform: translateX(0);
          z-index: 2;
        }
      }
      @media screen and (max-width: $screen-size-w-mobile-s){
        top: 100px;
      }
      .nav-ul{
        @media screen and (max-width: $screen-size-w-pad-s){
          @media screen and (max-height: $screen-size-h-mini){
            width: 100%;
          }
        }
      }
      .nav-li{
        @media screen and (max-width: $screen-size-w-pad-s){
          font-size: $f-z-2-5;
          color: $color-cis-white;
          opacity: 0;
          transform: translateY(40px);
          transition: 1s;
          @media screen and (max-height: $screen-size-h-small){
            & + .nav-li{
              margin-top: 30px;
            }
          }
          @media screen and (max-height: $screen-size-h-mini){
            // padding: 0 30px;
            font-size: $f-z-2;
            & + .nav-li{
              margin-top: 25px;
            }
          }
        }
      }
    }
    .footer{
      width: 100%;
      padding-bottom: 30px;
      position: absolute;
      bottom: 0;
      opacity: 0;
      transform: translateY(40px);
      transition: 1s;
    }
  }
  .nav{
    width: 100px;
    position: absolute;
    bottom: $header-nav-bottom-gap-blue;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    @mixin window-h-to-small(){
      @media screen and (min-width: $screen-size-w-pad-s + 1) and (max-height: $screen-size-h-small){
        bottom: $header-footer-h-to-small-gap;
      }
    }
    @media screen and (max-width: $screen-size-w-pc){
      width: 80px;
      bottom: $header-nav-bottom-gap-pc;
    }
    @include window-h-to-small();
    &.small{
      @media screen and (min-width: $screen-size-w-blue){
        bottom: $top-gap-blue - 20;
        @include window-h-to-small();
      }
      @media screen and (min-width: $screen-size-w-pad-s + 1) and (max-width: $screen-size-w-blue - 1){
        bottom: $top-gap-pc  - 10;
        @include window-h-to-small();
      }

      @media screen and (min-width: $screen-size-w-pad-s + 1){
        .nav-li{
          width: 100%;
          transform-origin: 0 50%;
          transform: rotate(-90deg);
          left: 50%;
          @media screen and (max-width: $screen-size-w-pc){
            font-size: $f-z-1-2;
          }
          &+.nav-li{
            margin-top: 100px;
            @media screen and (max-width: $screen-size-w-pc) {
              margin-top: 80px;
            }
          }
        }
      }

    }
    .nav-ul{
      width: 100%;
    }
    .nav-li{
      width: 100%;
      font-size: $f-z-1-5;
      line-height: 1.2em;
      transition: .5s;
      position: relative;
      left: 0;
      @media screen and (max-width: $screen-size-w-pc){
        font-size: $f-z-1-2;
      }
      &+.nav-li{
        margin-top: 55px;
        @media screen and (max-width: $screen-size-w-pc) {
          margin-top: 45px;
        }
      }
      .link-content{
        display: block;
        width: 100%;
        height: calc(1.2em + 4px);
        position: relative;
        letter-spacing: 1px;
        padding-top: 1px;
        padding-bottom: 3px;
        //內部變數 控制綠色波浪
        $nav-li-green-line-h: 4px;
        // 先暫時取消這種效果 改成與active同 20190907 :start
        // &:not(.active):hover{
        //   letter-spacing: 2px;
        //   &:before{
        //     top: -3px;
        //     transform: translateX(-50%) translateY(0);
        //   }
        //   &:after{
        //     top: calc(100% - 2px);
        //     transform: translateX(-50%) translateY(0);
        //   }
        // }
        // 先暫時取消這種效果 改成與active同  20190907 :end
        &:hover, &.active{
          letter-spacing: 2px;
          &:before, &:after{
            transition:
              width 0.3s,
              top 0.3s,
              left 0.5s,
              transform 1s;
            // @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            //   transition: 0s;
            // }
          }
          &:before{
            width: 1.2em;
            left: 0%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(110deg);
          }
          &:after{
            width: 1.2em;
            left: 100%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%) rotate(110deg);
          }
        }
        &.active{
          &:before, &:after{
            transition: 0s;
          }
          .text{
            transition: 0s;
          }
        }
        &:before, &:after{
          display: block;
          content: '';
          width: 100%;
          height: $nav-li-green-line-h;
          background-image: url("src/assets/green-line.svg");
          background-size: auto 100%;
          background-repeat: repeat-x;
          background-position: 0 center;
          position: absolute;

          animation: greenLineMove 4s infinite linear;
          transition:
            width 1s,
            top 0.3s,
            left 0.5s,
            transform 1s;
          // @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
          //   transition: 0s;
          // }
        }

        &:before{
          transform-origin: 50 50%;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(0deg);
        }
        &:after{
          transform-origin: 50% 50%;
          left: 50%;
          top: 50%;
          transform: translateX(-50%) translateY(-50%) rotate(0deg);
        }
        @keyframes greenLineMove{
          0%{
            background-position: 0 center;
          }
          100%{
            background-position: $nav-li-green-line-h * 35 / 2 center;
          }
        }
        .text{
          transition: 0.3s;
        }
      }
    }
  }
  .nav-mobile-btn{
    width: 18px;
    height: 18px;
    position: absolute;
    right: 20px;
    bottom: 3px;
    transition: 0.5s;
    &.active{
      transform: rotate(225deg);
      .line{
        &:nth-child(1){
          top: calc(50% - 1px);
        }
        &:nth-child(2){
          width: 120%;
          &:before{
            transform: rotate(90deg);
          }
        }
        &:nth-child(3){
          top: calc(50% - 1px);
        }
      }
    }
    .line{
      width: 100%;
      height: 2px;
      border-radius: 1px;
      background-color: $color-cis-grey-6;
      position: absolute;
      right: 0;
      transition: 0.5s;
      &:nth-child(1){
        top: 0;
      }
      &:nth-child(2){
        width: 60%;
        top: calc(50% - 1px);
        background-color: $color-cis-green;
        z-index: 2;
        &:before{
          display: block;
          width: 100%;
          height: 100%;
          z-index: 2;
          content: '';
          background-color: $color-cis-green;
          transition: 1s;
        }
      }
      &:nth-child(3){
        width: 80%;
        top: calc(100% - 1px);;
      }
    }
  }
}
