@import "variables";


@mixin text-one($cut: false){
  white-space: nowrap;
  @if($cut){
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


//form樣式
@mixin form-base-style(){
  width: 100%;
  *{
    outline: none !important;
    border:none;
    border-radius: none;
    padding: 0;
    margin: 0;
  }
}

@mixin select-input-style(){
	display: block;
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1em;
	letter-spacing: 1px;
	color: #333;
	padding: 7px 10px 7px 10px;
	background-color: transparent;
}
@mixin placeholder-style(){
	@include select-input-style();
	height: auto;
	padding-top: 0;
	padding-bottom: 0;
	position: absolute;
	top: 11px;
	color: #929292;
	transition: 0.5s;
}


//動畫
@mixin bounce($name:'bounce', $length: -30px){
  @keyframes #{$name} {
    from,
    20%,
    53%,
    80%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, #{$length}, 0);
    }

    70% {
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      transform: translate3d(0, #{$length / 2}, 0);
    }

    90% {
      transform: translate3d(0, #{$length / 7.5}, 0);
    }
  }
}
@mixin content-title-style(){
  font-size: $f-z-2-5;
  color: $color-cis-black;
  line-height: 1.5em;
  font-weight: bold;
  letter-spacing: 1px;
  @media screen and (max-width: $screen-size-w-pc){
    font-size: $f-z-1-5;
  }
  @media screen and (max-width: $screen-size-w-pad-b){
    font-size: $f-z-1-2;
  }
}
//i-t-layout 版行文字規則
@mixin i-t-layout-text(){
  .title{
    @include content-title-style();
    & + .info{
      margin-top: 15px;
      @media screen and (max-width: $screen-size-w-pad-b){
        margin-top: 10px;
      }
    }
  }
  .info{
    font-size: $f-z-1-5;
    letter-spacing: 1px;
    line-height: 1.6em;
    color: $color-cis-grey-8;
    @media screen and (max-width: $screen-size-w-pc){
      font-size: $f-z-1-2;
    }
    @media screen and (max-width: $screen-size-w-pad-b){
      font-size: $f-z-1;
    }
    .text{
      display: block;
      & + .text{
        margin-top: 0.5em;
        @media screen and (max-width: $screen-size-w-pad-b){

        }
      }
    }
  }
}
@mixin i-t-layout-img(){
  border-radius: 5px;
  overflow: hidden;

    //測試用
    min-width: 20px;
    // background-color: #555;
  img{
    width: 100%;

  }
}

@mixin page-layout($s-g-pc-multiply: 1, $s-g-m-multiply: 1){
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  .one-section{
    width: 100%;
    & + .one-section{
      margin-top: 100px;
      @media screen and (max-width: $screen-size-w-pc){
        margin-top: 8% * $s-g-pc-multiply;
      }
      @media screen and (max-width: $screen-size-w-mobile){
        margin-top: $layout-work-section-gap-mobile * $s-g-m-multiply;
      }
    }
    &.small{
      max-width: 70%;
      @media screen and (max-width: $screen-size-w-pc){
        max-width: 80%;
      }
      @media screen and (max-width: $screen-size-w-pad-b){
        max-width: 90%;
      }
      @media screen and (max-width: $screen-size-w-pad-s){
        max-width: 80%;
      }
      @media screen and (max-width: $screen-size-w-mobile){
        max-width: 100%;
      }
    }
  }
}
